{
  "extends": "eslint-config-egg",
  "rules": {
    "comma-dangle": [
      "error",
      "never"
    ],
    "indent": [2, 2],
    "no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "none"
      }
    ]
  }
}